.access {
  width: 100%;
  overflow: hidden;
  background-color: $ash;
}


.address-wrap {
  box-sizing: border-box;
  margin-right: calc(50% - 50vw);
margin-left: calc(50% - 50vw);
  height: 400px;
  display: flex;
  justify-content: space-between;
  background-color: #D0C5BA;
  @include tab {
    flex-direction: column-reverse;
    height: auto;
  }
}

.ad-detail {
  text-align: left;
  margin-left: 12%;
  height: auto;
  @include tab {
    width: 100%;
    height: 400px;
  }
  &_title {
    color: #00000038;
    font-size: 2.4rem;
    font-weight: bold;
    letter-spacing: 2.4px;
    margin-top: 25%;
    @include tab {
      margin-top: 30px;
    }
  } 
}

.address {
  color: #FFFFFF;
  margin-top: 30px;
  li:not(:first-child) {
    padding-top: 23px;
  }
}

.map {
  width: 60%;
  box-sizing: border-box;
  @include tab {
    width: 100%;
    height: 400px;
  }
}