.first-v {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  @include tab {
    position: relative;
  }
}

.ft-text {
  text-align: center;
  height: 30%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;
  white-space: nowrap;
  @include tab {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column-reverse;
    color: #FFFFFF;
    text-shadow: 0px 3px 16px black;
    height: 10%;
  }
  .catch {
    font-family: serif;
    font-size: 3.8rem;
    @include tab {
      font-size: 2.3rem;
    }
  }
  .sab-catch {
    font-family: 'Zapfino', sans-serif;
    font-size: 3.8rem;
    letter-spacing: 3.8px;
    @include tab {
      font-size: 2.8rem;
    }
  }
}

.ft-v-img {
  background-image: url(../img/component.png);
  width: 58%;
  height: 100vh;
  background-size: cover;
  @include tab {
    width: 100%;
  }
}