header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8%;
  left: 6%;
  z-index: 10;
  @include tab {
    position: static;
    display: flex;
    justify-content: space-between;
    padding: 24px 20px;
  }
}

.hd-logo {
  font-size: 3.8rem;
  letter-spacing: 3.8px;
  font-weight: bold;
  @include tab{
    font-size: 2.2rem;
  }
}

nav {
  @include tab {
    display: none;
  }
  ul {
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @include tab {
      display: block;
    }
    li {
      letter-spacing: 1.8px;
      margin-left: 20px;
      font-weight: bold;
      &:not(:first-child) {
        color: #707070;
      }
    }
  } 
}

.more:hover {
  text-decoration: underline;
}


@include tab {
  .nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
  }
  .nav ul{
    list-style:none;
  }
  .nav li:not(:last-child){
    margin-bottom: 30px;
  }
  .nav a{
    color: #ffffff;
  }
}

#navbtn{
  position: fixed;
  right: 15px;
  padding: 0;
  outline: none;
  border: none;
  background: none;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

#navbtn::before,
#navbtn::after{
  content : '';
  display: block;
  height: 1px;
  background-color: #333333;
  transform: translateY(10px);
  transition: 0.3s ease-in-out;
}

#navbtn::before{
  transform: translateY(-10px);
  box-shadow: 0 10px #333333;
}


.open #navbtn{
  z-index: 100;
}

.open #navbtn::before{
  transform: rotate(-45deg);
  box-shadow: none;
}

.open #navbtn::after{
  transform: rotate(45deg);
  box-shadow: none;
}

.open .nav{
  visibility: visible;
  opacity: 1;
  z-index: 100;
}

@include pc {
  #navbtn{
    display:none;
  }
  header{
    display: flex;
    align-items: center;
  }
  .nav{
    margin-left: auto;
  }
  .nav ul{
    display: flex;
    list-style:none
  }
  .nav ul li:not(:first-child){
    margin-left:20px;
  }
}
