$ash: #A193861F;

// mixin レスポンシブ
@mixin pc {
  @media screen and(min-width: 960px) {
    @content;
  }
}

@mixin tab {
  @media screen and(max-width: 959px) {
    @content;
  }
}

@mixin sp {
  @media screen and(max-width: 600px) {
    @content;
  }
}



html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 16px;
  line-height: 1.75;
}

.title {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 11px;
  color: #707070;
  @include tab {
    margin-bottom: 50px;
    letter-spacing: 5.4px;
  }
  &:after {
    display: inline-block;
    content: "";
    border-top: 1px solid;
    width: 4em;
    margin-left: 1.7rem;
  }
}


.inner {
  width: 100% - 11.7% *2;//11.7％は両側の余白
  padding: 260px 0 70px;
  margin: 0 auto;
  @include tab {
    padding: 60px 0;
  }
}

img {
  max-width: 100%;
}

